# dependencies
/node_modules

.pnp
.pnp.js

# testing
coverage

# production
build

#ENV


npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# misc
.DS_Store
.vscode

.deta

package-lock.json